.wrap {
    margin: 0 auto;
    max-width: 1024px;
}
* {
    box-sizing: border-box;
}
.clearfix {
    clear: both;
}

header {
    background-color: red;
    padding: 20px 10px 20px 10px;    
}
header > img {
    width: 200px;
}
.top_menu {
    float: right;
}
.top_menu > li {
    float: left;
}
.top_menu li a {
    display: block;
    width: 50px;
    margin-top: 30px;
    color: white;
    text-decoration: none;
    background-color: black;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
}

main {
    margin-top: 10px;
    margin-bottom: 10px;
}
menu {
    float: left;
    width: 300px;
    margin-right: 10px;
    padding: 10px;
    background-color: black;
    color: white;
}
.content {
    float: left;
    width: 300px;
    margin-right: 10px;
    padding: 10px;
    background-color: blue;
    color: white;
}
.aside {
    float: left;
    width: 404px;
    padding: 10px;
    background-color: yellow;
    color: white;
}

footer {
    background-color: pink;
    padding: 10px;
}