.footer.flex
    .about
        h2 關於 六角西餐廳
        p Curabitur lobortis id lorem id bibndum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. 
    .contact
        h2 聯絡方式
        ul
            li 
                p 高雄市中正五路到底
            li 
                p +886 886 886
            li 
                p service@hexschool.com
    .footer-logo.flex
        img(src="/img/logo_l@svg.svg", alt="#")
        ul.flex
            li
                a(href="#").footer-google-plus-logo
                    <i class="fab fa-google-plus-square"></i>
            li
                a(href="#").footer-twitter-logo
                    <i class="fab fa-twitter-square"></i>
            li
                a(href="#").footer-facebook-logo
                    <i class="fab fa-facebook-square"></i>