<!DOCTYPE html>
html(lang="en")
    head
        include block/head.pug
    body
        .wrap
            include block/header.pug
            .main
                .main-tips
                    h2
                        | 客人總是在詢問
                        | <br>
                        | 這麼好吃的秘訣是什麼
                    ul.tips.flex
                        li.tips-card
                            img(src="/img/feature_1.png", alt="#")
                            h3 台灣本土蔬菜
                            p In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris.
                        li.tips-card
                            img(src="/img/feature_2.png", alt="#")
                            h3 專業米其林廚師
                            p Sed ullamcorper tellus erat, non ultrices sem tincidunt euismod. Fusce rhoncus porttitor velit, eu bibendum nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis, facilisis accumsan turpis.
                        li.tips-card
                            img(src="/img/feature_3.png", alt="#")
                            h3 對於專業不能退讓
                            p Fusce rhoncus porttitor velit, eu bibendum nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis, facilisis accumsan turpis.
                .chef-card.flex
                    .chef-img
                    //- img(src="/img/main_chef_brown.png", alt="#")
                    .chef-description
                        h2 今日主廚：帕金森、梅在帕
                        h3 Tody Chef: Plum in Shock
                        p Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere, rutrum eu ipsum. Aliquam eget odio sed ligula iaculis consequat at eget orci. Mauris molestie sit amet metus mattis varius. Donec sit amet ligula eget nisi sodales egestas. Aliquam interdum dolor aliquet dolor sollicitudin fermentum. Donec congue lorem a molestie bibendum.
                .feedback
                    h2.title 聽聽別人的感想
                    ul.flex
                        li.feedback-card.flex
                            .selffie
                                img(src="/img/avatar_1.png", alt="")
                            .review
                                h3 高雄一口吃
                                p 自從吃了這家餐廳以後，我口水連續流了一個多月都沒停，下次不要再被我遇到，不然我一定連他們桌子都啃下去。
                                p.signature  -- 產品經理
                        li.feedback-card.flex
                            .selffie
                                img(src="/img/avatar_2.png", alt="")
                            .review
                                h3 廟口小霸王
                                p 自從吃了這家餐廳以後，我口水連續流了一個多月都沒停，下次不要再被我遇到，不然我一定連他們桌子都啃下去。
                                p.signature  -- 金身道士
                        li.feedback-card.flex
                            .selffie
                                img(src="/img/avatar_3.png", alt="")
                            .review
                                h3 春天也來了
                                p 自從吃了這家餐廳以後，我口水連續流了一個多月都沒停，下次不要再被我遇到，不然我一定連他們桌子都啃下去。
                                p.signature  -- 美麗萬分
            .questionnaire
                h2 
                    | 我們的位置不太夠坐
                    | <br>
                    | 要不要先訂位呢？
                .questionnaire-content.flex
                    .map
                        img(src="/img/Map.png", alt="#")
                    form(action="#").flex
                        label(for="name") 姓名
                        input(type="text" placeholder="六角講師吃尾牙").input_bar#name
                        label(for="tel" ) 電話
                        input(type="tel" placeholder="02-1234567").input_bar#tel
                        label(for="email") 信箱
                        input(type="email" placeholder="test@gmail.com").input_bar#email
                        label(for="number") 人數
                        input(type="number").input_bar#number
                        p 是否需要素食
                        .checkbox
                            label(for="yes" name="radio-option") 是
                            input(type="radio" name="radio-option")#yes
                            label(for="no" name="radio-option") 否
                            input(type="radio" name="radio-option")#no
                        .button.flex
                            button(type="submit").btn.btn-cancel 取消 
                            button(type="submit").btn.btn-submit 送出
            include block/footer.pug