.wrap {
    margin: 0 auto;
    max-width: 1024px;
}

header {
    border: 3px solid black;
}
header > img {
    width: 200px;
    margin: 20px 0px 20px 20px;
}

main {
    border: 5px solid red;
    padding: 20px 10px 20px 10px;
}
main > p {
    margin-bottom: 10px;
    color: blue;
}
main > button {
    background-color: blue;
    border: 0px;
    padding: 10px 10px;
    color: white;
    margin-bottom: 30px;
}
main > button:hover {
    background-color: black;
}

footer {
    background-color: pink;
    padding: 20px;
    text-align: center;
}