<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./index.css")
        link(rel="stylesheet", href="./reset.css")
    body
        .header
            .logo
                img(src="../pic/BMICLogo.png", alt="#")
            ul.input
                li
                    label(for="height-input") 身高 cm
                    input(type="text" placeholder="請輸入身高").input-field#height-input
                li
                    label(for="weight-input") 體重 Kg
                    input(type="text" placeholder="請輸入體重").input-field#weight-input
            .button
                button.generateResultButton 看結果
                button.resultCircle.displayNone
                    span.resultCircleValue 20.90
                    br
                    span.resultCirclevalueDescription BMI
                button.resetButton.displayNone
                    img(src="../pic/icons_loop.png", alt="")
            h2.headerResultDescription.displayNone  無結果
        .main-content
            h2  BMI紀錄
            ul.result

        .footer
            img(src="../pic/BMICLogo.png", alt="#")
        script(src="/index.js")