.header
    .nav.flex
        .header_logo.flex
            h1
                a(href="index.html") 六角西餐廳
            a(href="#").rwd-menu-show
                <i class="fas fa-bars"></i>
        ul.nav-item.nav-item-show.flex
            li
                a(href="index.html") 特色
            li
                a(href="cart.html") 購物車
            li
                a(href="login.html") 登入
            li
                a(href="register.html") 註冊
        
        
    .flex
        .header_description
            h2 咬一口就無法忘懷的漢堡
            h3 
                | 七夕絕對無法錯過的好滋味
                | <br>
                | <i class="fas fa-utensils"></i>
                | 六角大漢堡
                | <i class="fas fa-utensils"></i>